.row{
    padding: 50px ;
    background-color:  #deeaf6;
}
.contenedor{
    width: auto;
}
h2{
    text-align: center;
}
.parte1, .parte2{
    display: inline-block;
    text-align: center;
}
.img-proyecto{
    margin: 60px 0px 60px;
    box-shadow: 10px 10px 30px rgb(94, 90, 90);
}