<div class="row">
    <h2>Hard & Soft Skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="95"
      [radius]="85"
      [imageSrc]="'../../../assets/html.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../../../assets/css.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="80"
      [imageSrc]="'../../../assets/angular.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="80"
      [imageSrc]="'../../../assets/boostrap.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="80"
      [imageSrc]="'../../../assets/js.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../../../assets/types.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="80"
      [imageSrc]="'../../../assets/mysql.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="80"
      [imageSrc]="'../../../assets/ingles.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="97"
      [radius]="80"
      [imageSrc]="'../../../assets/equipo.png'"
      [imageHeight]="80"
      [imageWidth]="80"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
</div>
