<div class="row">
    <h2>Hard & Soft Skills</h2>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="85"
      [imageSrc]="'../asse'"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../asse'"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="80"
      [imageSrc]="'../asse'"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="80"
      [imageSrc]="'../asse'"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="65"
      [radius]="80"
      [imageSrc]="'../asse'"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="65"
      [radius]="80"
      [imageSrc]="'../asse'"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="55"
      [radius]="80"
      [imageSrc]="''"
      [showImage]="true"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#e277c7'"
      [innerStrokeColor]="'#e277c7'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
</div>
