<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpeg" 
        class="img-fluid" id="fotoperfil">
    </div>  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h6 id="nombre">CAROLINA SARAPURA</h6>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mi</h2>
            <p>Hola! mi nombre es Carolina, soy estudiante de Tecnicatura de Desarrollo web y Aplicaciones Digitales. Mi interés por la programación surgió en 2021 cuando realice el curso de SeProgramar.

                Estoy siempre dispuesta a aprender e intercambiar conocimientos con mis colegas. Actualmente estoy culminando la segunda etapa de Argentina Programa.</p>
        </span>
    </div>  
</div>


