.row{
    padding: 50px;
}
div{
    background-color: rgb(23, 72, 161);
    text-align: center;
    color:white;  
}

/*foto perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px 5px lightskyblue;
        left: 5%;
        top: 500px;
    }
}

@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px lightskyblue;
        top: 500px;
    }
}


/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    color: paleturquoise;
    font-size: 25px;
    margin-left: 5px;
}