<div class="row">
    <h2>Estudios y Capacitaciones</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Técnico en Seguridad</h3>
                <p>Escuela de Suboficiales Provincia de Salta</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Enfermeria Profesional</h3>
                <p>Escuela Cruz Roja Argentina</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Bachiller con Orientacion Docente </h3>      
                <p>Colegio "Laura Vicuña"</p>    
            </li>
        </ul>
    </div>
