<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Recepcionista </h3><h4>_ (Mayo 2002 - Octubre 2002)</h4>
                <p>Hotel ''
                    
                Registro de reservas y recepción de visitantes.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Secretaria </h3><h4>_ (Diciembre 2003 - Noviembre 2005)</h4>
                <p>Inmobiliaria ''
                    
                Recepción, atención telefónica y trámites bancarios.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Efectivo de Fuerza de seguridad </h3><h4>_ (Enero 2006 - Junio 2018)</h4>
                    
                <p>Ministerio de Seguridad Provincia de Salta, área de oficina de VIF.</p>    
            </li>
        </ul>
    </div>

</div>


